{%- if page.header -%}
<section class="page-header_img" role="banner"
    style="background-image: url({{- page.header | absolute_url -}}); background-attachment: scroll;">
    <h1 class="project-name">
        {{- page.title | default: site.title | default: site.githib.repository_name -}}
    </h1>
    <h2 class="project-tagline">
        {{- page.description | default: site.description | default: site.github.project_tagline -}}
    </h2>
</section>
{%- else -%}
    <section class="page-header" role="banner" style="background-image: linear-gradient(120deg, #000000, #8f8f8f);">
    <h1 class="project-name">
        {{- page.title | default: site.title | default: site.githib.repository_name -}}
    </h1>
    <h2 class="project-tagline">
        {{- page.description | default: site.description | default: site.github.project_tagline -}}
    </h2>
    </seaction>
{%- endif- %}