<ul style="list-style: none;">
    {% for post in site.posts | compact %}
    <li id='cat'>
        <div>{{ post.date | date_to_string }} &#8881;
            {% for cats in post.category %}
                {% if cats == 'rf' %}
                <tt style="background-color: coral;">{{ cats }}</tt>
                {% else %}
                <tt style="background-color: rgb(101, 204, 211);">{{ cats }}</tt>
                {% endif %}
            {% endfor %}
        </div>
        <div>&#8881;<a href="{{ post.url }}">{{ post.title }}</a></div>
    </li>
    {% endfor %}
</ul>