<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <!-- Favicon -->
  <link rel="icon" href="{{ "favicon.ico" | absolute_url }}">

  <!-- Google Analytics -->
  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
  <!-- Google Analytics end -->

  {% seo %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <!-- Home CSS-->
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>
  {% include header.html %}
  <main id="content" class="main-content" role="main">
    {{ content }}
    {% include footer.html %}
  </main>
  <script>
    function getNewRandomColor() {
      var myArray = ['#bbaaaa', '#aabbbb', '#88aaaa'];
      var rand = myArray[Math.floor(Math.random() * myArray.length)];
      tags = document.getElementsByTagName('h3');
      var i = 0;
      while (tags[i]) {
        tags[i].style.color = rand;
        i++;
      }
    }
    document.onload = getNewRandomColor();
  </script>
</body>

</html>