---
layout: default
---

<section>
    <tt class="catdate">{{ page.date | date_to_string }}</tt>
    {%- for cats in page.category -%}
    {%- if cats == "algo" -%}
    <tt class="cats_tags" style="background-color: #73ad9c">{{ cats }}</tt>
    {%- elsif cats == "art" -%}
    <tt class="cats_tags" style="background-color: #d2d2d2">{{ cats }}</tt>
    {%- elsif cats == "biomed" -%}
    <tt class="cats_tags" style="background-color: #c4b2ff">{{ cats }}</tt>
    {%- elsif cats == "coding" -%}
    <tt class="cats_tags" style="background-color: #50afad">{{ cats }}</tt>
    {%- elsif cats == "ML" -%}
    <tt class="cats_tags" style="background-color: #ffa978">{{ cats }}</tt>
    {%- elsif cats == "personal" -%}
    <tt class="cats_tags" style="background-color: #d2d2d2">{{ cats }}</tt>
    {%- elsif cats == "poetry" -%}
    <tt class="cats_tags" style="background-color: #ccb03e90">{{ cats }}</tt>
    {%- elsif cats == "RF" -%}
    <tt class="cats_tags" style="background-color: #f37575">{{ cats }}</tt>
    {%- elsif cats == "semicon" -%}
    <tt class="cats_tags" style="background-color: #9eeef9">{{ cats }}</tt>
    {%- elsif cats == "telecom" -%}
    <tt class="cats_tags" style="background-color: #f1e584">{{ cats }}</tt>
    {%- endif -%} 
    {%- endfor -%} 
    {%- for tag in page.tags -%}
    <tt class="cats_tags" style="background-color: #70e474">{{ tag }}</tt>
    {%- endfor -%}
</section>
<hr>
<section>
    <article>{{ content }}</article>
</section>
<div>
    <hr>
    {%- if page.links -%}
    <p>
        {% for hash in page.links %}
        {% for link in hash %}
        {% if link[0] contains 'source' %}
        <a href=" {{ link[1] | absolute_url }} " class="btn">
            <img src="{{ "/source.svg" }}" width="20px">
            <span>{{ link[0] | capitalize }}</span>
        </a>
        {% elsif link[0] contains 'download' %}
        <a href=" {{ link[1] }} " class="btn">
            <img rel="icon" src="{{ "/download.svg" }}" width="20px">
            <span>{{ link[0] | capitalize }}</span>
        </a>
        {% else %}
        <a href="{{ link[1] }}" class="btn">{{ link[0] | capitalize }}</a>
        {% endif %}
        {% endfor%}
        {% endfor%}
    </p>
    {% endif %}
</div>
<p><a href="/">back</a></p>