<!DOCTYPE html>
<html lang="{{- site.lang | default: "en-US" -}}">


  {%- include head.html -%}

  <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
  <style>
      div.mermaid {
        /* font-family: 'trebuchet ms', verdana, arial; */
        font-family: 'Courier New', Courier, monospace !important;
      }
      </style>
<body>
  <header>
    {%- include header.html -%}
  </header>
  <main id="content" class="main-content" role="main">
    {{- content -}}

</body>

</html>